<div class="container">
    <div class="row">
        <ng-container *ngFor ="let product of productlist">
         <div class="card col-md-3">
                <a><img src="{{product.productImagesrc}}" alt=""></a>
                <ul class="social">
                    <li><a [routerLink]="['/product/', product.productId]" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a routerLink="/wishlist" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                </ul>
                   <h6 style="overflow:hidden;text-overflow: ellipsis; max-width:25ch;">{{product.productName}}</h6>
                   <h6><strong>Price </strong>${{product.productPrice}}</h6> 
         </div>
    </ng-container> 
</div>
</div>