<div class="container">
    <div class="row">
        <ng-container *ngFor ="let item of productlist">
         <div class="card col-md-3">
                <a><img src="{{item.product.productImagesrc}}" alt=""></a>
                <ul class="social">
                    <li><a routerLink="['/product',item.productId]" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <!-- <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li> -->
                </ul>
                   <h6 style="overflow:hidden;text-overflow: ellipsis; max-width:25ch;">{{item.product.productName}}</h6>
                   <h6><strong>Price </strong>${{item.product.productPrice}}</h6> 
         </div>
    </ng-container> 
</div>
</div>