.navbar {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 1rem;
    background-color: #1b9b70;
}
.nav-link,.nav-item{
    color: aliceblue;
}
.navbar-brand{
    color: aliceblue;
    padding-top: 1%;
}
.btn{
    
    background-color: #1b9b70;
}

.d-flex{
    padding-left: 10%;
    border: radius 3px; 
    width: 600px;
    margin-left: 20px;
}

.nav{
   padding-left:10% ;
}
