<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">
    <img width="40" height="40" src="/../../assets/Images/Ishop Logo.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">Ishop</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Products<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Compare</a>
        </li>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item" >Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Something else here</a>
          </div> 
         
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"><span class="far fa-heart"></span></a>
        </li>
      </ul>
      
      <form class="d-flex">
        <input class="form-control me-0" type="search" placeholder="Search" aria-label="Search">
        <button class="button btn" type="submit">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" ><a class="nav-link" routerLink="signup" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>