<div class="container">
<div class="row">
    <div class="col-md-7">
        <div class="left border">
            <div class="row"> <span class="header">Place Order</span>
                <form> 
                    <span>Address :</span> <input type="text" class="row-3" placeholder="Linda Williams"> 
                    <div class="row">
                        <div class="col-4"><span>City :</span> <input placeholder=""> </div>
                        <div class="col-4"><span>State :</span> <input placeholder=""> </div>
                    </div> 
                    <div class="col-4"><span>Zipcode :</span> <input placeholder=""> </div>
                    <span>Phone No.:</span> <input placeholder="">
                </form>
                </div>
                <hr>
                <div class="row"> <span class="header">Payment</span>            
                </div>
            <div class="col-md-6">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="card-tab" data-toggle="tab" href="#card" role="tab" aria-controls="card" aria-selected="true">Card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="upi-tab" data-toggle="tab" href="#upi" role="tab" aria-controls="upi" aria-selected="false">UPI</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="card" role="tabpanel" aria-labelledby="card-tab">
                        <form> <span>Cardholder's name:</span> <input placeholder="Name"> <span>Card Number:</span> <input placeholder="0125 6780 4567 9909">
                            <div class="row">
                                <div class="col-4"><span>Expiry date:</span> <input placeholder="YY/MM"> </div>
                                <div class="col-4"><span>CVV:</span> <input id="cvv"> </div>
                            </div>
                        </form>        
                    </div>
                    <div class="tab-pane fade" id="upi" role="tabpanel" aria-labelledby="upi-tab">
                        <form> <span>UPI ID:</span> <input placeholder="123@okicici"> 
                            
                        </form>                          
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-5">
        <div class="right border">
            <div class="header">Order Summary</div>
            <p>2 items</p>
            <div class="row item" *ngFor="let c of cart">
                <div class="col-4 align-self-center"><img class="img-fluid" src="{{c.product.productImagesrc}}"></div>
                <div class="col-8">
                    <div class="row"><b>${{c.product.productPrice}}</b></div>
                    <div class="row text-muted">{{c.product.productName}}</div>
                    <div class="row">{{c.cartproductQuantity}}</div>
                </div>
            </div>
            
            <hr>
            <div class="row lower">
                <div class="col text-left">Subtotal</div>
                <div class="col text-right">$ Total</div>
            </div>
            <div class="row lower">
                <div class="col text-left">Delivery</div>
                <div class="col text-right">$1</div>
            </div>
            <div class="row lower">
                <div class="col text-left"><b>Total to pay</b></div>
                <div class="col text-right"><b>$</b></div>
            </div>
            
            </div> <button class="btn">Place order</button>
            
        </div>
    </div>
</div>


