<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card height=10%" style="border-radius: 15px;">
              <div class="card-body  p-5">
                <img src='/src/assets/Images/Ishop/Logo.jpeg' class="w-100; rounded; center" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem; width:100px;height:100px;" alt="Sample photo">
                <!-- <h4 class="text-uppercase text-center mb-5">Sign UP</h4> -->
                <div *ngIf ="userType==='1' ; else elseBlock">
                  <form>
              
                    <div class="col-xs-2">
                      <input type="text" id="form3Example1cg" class="form-control form-control-sg" />
                      <label class="form-label" for="form3Example1cg">Registered Email</label>
                    </div>
                    <div class="d-flex justify-content-center">
                      <button type="button" class="btn btn-success btn-block btn-sg gradient-custom-4 text-body">Send OTP</button><br>
                    </div>
                    <br>
    
                    <!-- <div class="form-outline mb-4"> -->
                      <div class="col-xs-2">
                      <input type="email" id="form3Example3cg" class="form-control form-control-sg" />
                      <label class="form-label" for="form3Example3cg">Enter OTP</label>
                    </div>
    
                    <div class="col-xs-2">
                      <input type="number" id="form3Example1cg" class="form-control form-control-sg" />
                      <label class="form-label" for="form3Example1cg">New Password</label>
                    </div>
    
                    <div class="col-xs-2">
                      <input type="password" id="form3Example4cg" class="form-control form-control-sg" />
                      <label class="form-label" for="form3Example4cg"> Confirm Password</label>
                    </div>
    
                    <div class="d-flex justify-content-center">
                      <button type="button" class="btn btn-success btn-block btn-sg gradient-custom-4 text-body">Submit</button>
                    </div>
             
                  </form>

                </div>
                  <ng-template #elseBlock>
                    <form>
              
                      <div class="col-xs-2">
                        <input type="text" id="form3Example1cg" class="form-control form-control-sg" />
                        <label class="form-label" for="form3Example1cg">Registered Email</label>
                      </div>
                      <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success btn-block btn-sg gradient-custom-4 text-body">Send OTP</button><br>
                      </div>
                      <br>
      
                      <!-- <div class="form-outline mb-4"> -->
                        <div class="col-xs-2">
                        <input type="email" id="form3Example3cg" class="form-control form-control-sg" />
                        <label class="form-label" for="form3Example3cg">Enter OTP</label>
                      </div>
      
                      <div class="col-xs-2">
                        <input type="password" id="form3Example1cg" class="form-control form-control-sg" />
                        <label class="form-label" for="form3Example1cg">New Password</label>
                      </div>
      
                      <div class="col-xs-2">
                        <input type="password" id="form3Example4cg" class="form-control form-control-sg" />
                        <label class="form-label" for="form3Example4cg"> Confirm Password</label>
                      </div>
      
                      <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success btn-block btn-sg gradient-custom-4 text-body">Submit</button>
                      </div>
               
                    </form>
                  </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
