<div class ="container container-fluid col-md-9 align-items-center">
    <h1 style="text-align: center;" >Product Details</h1>
   
    <form [formGroup]="addProduct" (ngSubmit)="addproduct()" >
        <div class="parameter"> 
        <div class="form-Group ">
            
            <label>Product Name</label> 
            <input formControlName="productName" type="text" class="form-control">
     
        </div>

        <div class="form-Group">
            <label>Product Image Source</label>
            <input formControlName="productImagesrc" type="url" class="form-control">
        </div>

        <div class="form-Group">
            <label>Product Description</label>
            <input formControlName="productDescription" type="text" class="form-control">
        </div>

        <div class="form-Group">
            <label>Product Price</label>
            <input formControlName="productPrice" type="number" class="form-control">
        </div>
        <div class="form-Group">
            <label>Product Quantity</label>
            <input formControlName="productQuantity" type="number" class="form-control">
        </div>
        <br>
        <div class="align-items-center center">
            <button class ="button btn"  type="submit" [disabled]="addProduct.invalid" >Submit</button>
        </div>
        
      
      </div>
    </form>
 
 </div>