<head>    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class=" col-md-5">
                    <div >
                      <img src="http://placekitten.com/400/252" class="w-100"/>
                      </div>
                </div>
                <div class="col-md-1">
                    <span class="like fa fa-heart ml-5 bootstrap-fill"></span> 
                </div>
                                  
                <div class="details col-md-5">
                    <h3 class="product-title">Product Name</h3>				
                        
                    
                    <p class="product-description">Product Description                                                                                </p>
                    <p class="price">Price: <span>180</span></p>
                    <p>Brand : <span>Nike</span></p>
                    <p>Retailed By:<span>XYZ & Co.</span></p>
                    
                    
                    <div class="action">
                        <button class="add-to-cart rounded"  type="button">add to cart</button>&nbsp;
                                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/new/standard/city/053.jpg" alt="Card image cap">
            <div>
              <h5 class="card-title mt-2">Product Name</h5>  
              <p>Price</p>               
             </div>
          </div>
    </div>
    <div class="col-md-4" >
        <div class="card" >
            <img class="card-img-top" src="https://mdbootstrap.com/img/new/standard/city/053.jpg" alt="Card image cap">
            <div>
              <h5 class="card-title mt-2">Product Name</h5>    
              <p>Price</p>             
             </div>
          </div>
    </div>   

    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/new/standard/city/053.jpg" alt="Card image cap">
             <h5 class="card-title mt-2">Product Name</h5> 
             <p>Price</p>               
             
        </div>
    </div>
</div>
</body>