<div class="container">
            <div class="row">
                <ng-container *ngFor ="let product of productlist">
                    <div class="card col-md-3">
                        <div>
                            <a><img src="{{product.productImagesrc}}" alt=""></a>
                            
                            <ul class="overlay">
                                <li><a [routerLink]="['/product/', product.productId]" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                <li><a class="wishlist" routerlink="/wishlist" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                        
                        
                        <p style="white-space: nowrap;overflow:hidden;text-overflow: ellipsis; max-width: 100ch;">{{product.productName}}</p> 
                        <p class="m-3"><strong>Price </strong>${{product.productPrice}}</p>
                      
                    </div>
                </ng-container> 
                
        </div>
</div>