<div style="margin-top: 150px;  padding-top: 5% ;padding-left: 2%; padding-bottom: 2%; border-color: white;" class="container card mb-20 ">
    <div class="row margin-bottom:20px ">&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card text-white  mb-2" style="background-color:  rgba(5, 71, 68, 1);border:0;max-width: 25rem; margin-left: 10pc;">
            <div style ="text-align: center;"class="card-body">
          <button style="background-color:rgba(5, 71, 68, 1); color: white; font-size: 50px;" (click) = 'clogin(0)' class="btn rounded retailer">Retailer</button>
        </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="card text-white  mb-2"style="background-color:  rgba(5, 71, 68, 1);border:0;max-width: 25rem;" >
       <div style ="text-align: center;" class="card-body">
        <button style="background-color:  rgba(5, 71, 68, 1); color: white; font-size: 50px;" (click) = 'clogin(1)' class="btn rounded retailer">Customer</button>
          
        </div>
    </div>
     
  </div>
</div>
<!-- <div style="width: 400px; height: 200px;background-color: aqua; border-radius: 2px solid; text-align: center; 
margin-top: 100px; margin-left: 200px;" class="admin ">
  ADMIN
</div> -->
