<div class ="container-fluid">
   
    <form [formGroup]="retailer" >
         
        <div class="form-Group ">
            
            <label>Retailer Id</label> 
            <!-- <input [class.is-invalid]="retailer.get('retailerid').invalid && retailer.get('retailerid').touched" formControlName="retailerid" type="number" class="form-control"> -->
     
        </div>

        <div class="form-Group">
            <label>Retailer Name</label>
            <input formControlName="retailername" type="username" class="form-control">
        </div>

        <div class="form-Group">
            <label>Retailer E-mail</label>
            <input formControlName="retaileremail" type="text" class="form-control">
        </div>

        <div class="form-Group">
            <label>Retailer MobileNo.</label>
            <input formControlName="retailermobile" type="number" class="form-control">
        </div>
        <br>
        <button class ="btn btn-info btn-lg btn-block"  type="submit" [disabled]="retailer.invalid" >Submit</button>
      <!-- {{addProduct.value| json}} -->
     
    </form>
 
 </div>